apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-producer
  namespace: bigdata
spec:
  backoffLimit: 3   # Retry up to 3 times if the job fails
  template:
    metadata:
      labels:
        app: kafka-producer
    spec:
      restartPolicy: OnFailure

      initContainers:
        - name: wait-for-kafka
          image: confluentinc/cp-kafka:7.5.1
          command:
            - sh
            - -c
            - |
              echo "Waiting for Kafka to be ready..."
              until kafka-broker-api-versions --bootstrap-server kafka:9092 >/dev/null 2>&1; do
                echo "Kafka not ready yet, waiting 10 seconds..."
                sleep 10
              done
              echo "Kafka is ready!"

      containers:
        - name: producer
          image: python:3.10-slim
          workingDir: /mnt/project
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9092
            - name: KAFKA_TOPIC
              value: flights_topic
          command:
            - sh
            - -c
            - |
              echo "Installing dependencies..."
              pip install --no-cache-dir -r requirements.txt
              echo "Starting Kafka producer..."
              python kafka/kafka_producer.py
          volumeMounts:
            - name: project
              mountPath: /mnt/project
              readOnly: true
      resources:
        requests:
          memory: "128Mi"
          cpu: "100m"
        limits:
          memory: "256Mi"
          cpu: "250m"

      volumes:
        - name: project
          hostPath:
            path: /mnt/myproject
            type: Directory
