apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-producer
  namespace: bigdata
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: OnFailure

      initContainers:
        - name: wait-for-kafka
          image: confluentinc/cp-kafka:7.5.1
          command:
            - sh
            - -c
            - |
              echo "Waiting for Kafka..."
              until kafka-broker-api-versions --bootstrap-server kafka:9092 >/dev/null 2>&1; do
                sleep 5
              done
              echo "Kafka ready"
      containers:
        - name: producer
          image: kafka-producer:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9092
            - name: KAFKA_TOPIC
              value: flights_topic
            - name: CSV_FILE
              value: /data/flights.csv
          resources:
            requests:
              cpu: "500m"
              memory: "500Mi"
            limits:
              cpu: "500m"
              memory: "500Mi"