apiVersion: v1
kind: ConfigMap
metadata:
  name: hadoop-conf
  namespace: bigdata
data:
  core-site.xml: |
    <?xml version="1.0"?>
    <configuration>

      <property>
        <name>fs.defaultFS</name>
        <value>hdfs://namenode-0.namenode.bigdata.svc.cluster.local:8020</value>
      </property>

      <property>
        <name>hadoop.http.staticuser.user</name>
        <value>root</value>
      </property>

      <property>
        <name>dfs.client.use.datanode.hostname</name>
        <value>true</value>
      </property>

    </configuration>

  hdfs-site.xml: |
    <?xml version="1.0"?>
    <configuration>

      <property>
        <name>dfs.replication</name>
        <value>1</value>
      </property>

      <property>
        <name>dfs.permissions.enabled</name>
        <value>false</value>
      </property>

      <property>
        <name>dfs.webhdfs.enabled</name>
        <value>true</value>
      </property>

      <property>
        <name>dfs.namenode.datanode.registration.ip-hostname-check</name>
        <value>false</value>
      </property>

      <property>
        <name>dfs.datanode.use.datanode.hostname</name>
        <value>true</value>
      </property>

      <property>
        <name>dfs.datanode.hostname</name>
        <value>datanode-0.datanode.bigdata.svc.cluster.local</value>
      </property>

      <property>
        <name>dfs.datanode.address</name>
        <value>0.0.0.0:9866</value>
      </property>

      <property>
        <name>dfs.datanode.ipc.address</name>
        <value>0.0.0.0:9867</value>
      </property>

      <property>
        <name>dfs.datanode.http.address</name>
        <value>0.0.0.0:9864</value>
      </property>

    </configuration>
