apiVersion: batch/v1
kind: Job
metadata:
  name: spark-submit
  namespace: bigdata
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: spark-submit
    spec:
      restartPolicy: OnFailure
      # initContainers:
      #   - name: wait-for-hdfs
      #     image: apache/spark:3.5.3
      #     command:
      #       - bash
      #       - -c
      #       - |
      #         echo "Waiting for HDFS namenode..."
      #         until hdfs dfs -ls hdfs://namenode:9000/ >/dev/null 2>&1; do
      #           echo "HDFS not ready yet..."
      #           sleep 5
      #         done
      #         echo "HDFS is ready!"
      containers:
        - name: spark-submit
          image: apache/spark:3.5.3
          workingDir: /app
          command:
            - bash
            - -c
            - |
              mkdir -p /tmp/.ivy2/cache /tmp/.ivy2/jars && \
              /opt/spark/bin/spark-submit \
              --master spark://spark-master:7077 \
              --deploy-mode client \
              --conf spark.driver.host=spark-submit \
              --conf spark.driver.bindAddress=0.0.0.0 \
              --conf spark.driver.port=44487 \
              --conf spark.driver.blockManager.port=44488 \
              --conf spark.sql.shuffle.partitions=4 \
              --conf spark.jars.ivy=/tmp/.ivy2 \
              --packages org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.3,com.datastax.spark:spark-cassandra-connector-assembly_2.12:3.5.0 \
              /app/spark/streaming.py
          env:
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9092
            - name: KAFKA_TOPIC
              value: flights_topic
            - name: CASSANDRA_HOST
              value: cassandra
            - name: CASSANDRA_PORT
              value: "9042"
          volumeMounts:
            - name: project
              mountPath: /app
            - name: ivy
              mountPath: /tmp/.ivy2
            - name: checkpoints
              mountPath: /tmp/checkpoint
      volumes:
        - name: project
          hostPath:
            path: /mnt/myproject
            type: Directory
        - name: ivy
          emptyDir: {}
        - name: checkpoints
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: spark-submit
  namespace: bigdata
spec:
  selector:
    app: spark-submit
  ports:
    - name: driver
      port: 44487
      targetPort: 44487
    - name: blockmanager
      port: 44488
      targetPort: 44488
