apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: bigdata
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
        - name: spark-worker
          image: apache/spark:3.5.3
          command:
            - sh
            - -c
            - |
              /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker \
              spark://spark-master:7077 \
              --memory 1G \
              --cores 1
          ports:
            - containerPort: 8081
          resources:
            requests:
              memory: "768Mi"
              cpu: "500m"
            limits:
              memory: "1.5Gi"
              cpu: "1"
          volumeMounts:
            - name: project
              mountPath: /mnt/project
              readOnly: true
      volumes:
        - name: project
          hostPath:
            path: /mnt/myproject
            type: Directory