apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: bigdata
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      containers:
        - name: spark-worker
          image: apache/spark:3.5.3
          command:
            - /opt/spark/sbin/start-worker.sh
            - spark://spark-master:7077
            - --webui-port
            - "8081"
            - --cores
            - "2"
            - --memory
            - 2G
          env:
            - name: SPARK_NO_DAEMONIZE
              value: "true"
          ports:
            - containerPort: 8081
          volumeMounts:
            - name: project
              mountPath: /app
      volumes:
        - name: project
          hostPath:
            path: /mnt/myproject
            type: Directory
