apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: bigdata
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      initContainers:
        - name: install-plugins
          image: grafana/grafana:latest
          command:
            - sh
            - -c
            - |
              grafana cli plugins install hadesarchitect-cassandra-datasource
          volumeMounts:
            - name: grafana-plugins
              mountPath: /var/lib/grafana/plugins
      containers:
        - name: grafana
          image: grafana/grafana:latest
          ports:
            - containerPort: 3000
          env:
            - name: GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS
              value: hadesarchitect-cassandra-datasource
            - name: GF_SECURITY_ADMIN_USER
              value: admin
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: admin
          volumeMounts:
            - name: dashboard-provider
              mountPath: /etc/grafana/provisioning/dashboards
            - name: dashboard
              mountPath: /var/lib/grafana/dashboards
            - name: datasource
              mountPath: /etc/grafana/provisioning/datasources
            - name: grafana-plugins
              mountPath: /var/lib/grafana/plugins
      volumes:
        - name: dashboard-provider
          configMap:
            name: grafana-dashboard-provider
        - name: dashboard
          configMap:
            name: grafana-dashboard
        - name: datasource
          configMap:
            name: grafana-datasource
        - name: grafana-plugins
          persistentVolumeClaim:
            claimName: grafana-plugins-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: bigdata
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-plugins-pvc
  namespace: bigdata
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard