apiVersion: v1
kind: Service
metadata:
  name: cassandra
  namespace: bigdata
spec:
  ports:
    - port: 9042
  selector:
    app: cassandra
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cassandra
  namespace: bigdata
spec:
  serviceName: cassandra
  replicas: 1
  selector:
    matchLabels:
      app: cassandra
  template:
    metadata:
      labels:
        app: cassandra
    spec:
      containers:
        - name: cassandra
          image: cassandra:4.1
          ports:
            - containerPort: 9042
          env:
            - name: CASSANDRA_CLUSTER_NAME
              value: "Test Cluster"
            - name: MAX_HEAP_SIZE
              value: "1024M"
            - name: HEAP_NEWSIZE
              value: "256M"
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "1.5Gi"
              cpu: "1"
          volumeMounts:
            - name: cassandra-data
              mountPath: /var/lib/cassandra
          readinessProbe:
            tcpSocket:
              port: 9042
            initialDelaySeconds: 120
            periodSeconds: 15
            failureThreshold: 10
  volumeClaimTemplates:
    - metadata:
        name: cassandra-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi

